* {
  margin: 0;
  padding: 0;
}

body {
  background: #2d313b;
  color: #fff;
  overflow: hidden;
}

.contents {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 4rem;
  max-width: 70%;
  text-align: center;
  font-family: serif;
}

.small-text {
  font-size: 3rem;
}

.logo {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  width: 10vw;
  height: auto;
  min-width: 100px;
}
